################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/practica final/v15/Server/sqlite3
/practica final/obj/Debug
